.btn {
  width: 200px;
  font-size: 48px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #3AE2CE;
  color: #FFFFFF;
  background-color: transparent;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #3AE2CE;
}
