.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}

.counter {
  margin: 0 16px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 375ms ease-in;
  border-radius: 8px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}
